.button {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: $font-size-base;
  line-height: 1.5;
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s, box-shadow 0.3s;

  &-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      color: #fff;
      background-color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }

  &-secondary {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      color: #fff;
      background-color: darken($secondary-color, 10%);
      border-color: darken($secondary-color, 10%);
    }
  }

  &-success {
    color: #fff;
    background-color: $success-color;
    border-color: $success-color;

    &:hover {
      color: #fff;
      background-color: darken($success-color, 10%);
      border-color: darken($success-color, 10%);
    }
  }

  &-danger {
    color: #fff;
    background-color: $danger-color;
    border-color: $danger-color;

    &:hover {
      color: #fff;
      background-color: darken($danger-color, 10%);
      border-color: darken($danger-color, 10%);
    }
  }

  &-warning {
    color: #212529;
    background-color: $warning-color;
    border-color: $warning-color;

    &:hover {
      color: #212529;
      background-color: darken($warning-color, 10%);
      border-color: darken($warning-color, 10%);
    }
  }

  &-info {
    color: #fff;
    background-color: $info-color;
    border-color: $info-color;

    &:hover {
      color: #fff;
      background-color: darken($info-color, 10%);
      border-color: darken($info-color, 10%);
    }
  }

  &-light {
    color: #212529;
    background-color: $light-color;
    border-color: $light-color;

    &:hover {
      color: #212529;
      background-color: darken($light-color, 10%);
      border-color: darken($light-color, 10%);
    }
  }

  &-dark {
    color: #fff;
    background-color: $dark-color;
    border-color: $dark-color;

    &:hover {
      color: #fff;
      background-color: darken($dark-color, 10%);
      border-color: darken($dark-color, 10%);
    }
  }
}
